<div class="text-center add-another-note" >
    <a href="/notes/add" class="btn btn-dark btn-sm mb-0 d-block mb-2">Add Note</a>
    <a href="/photos/add" class="btn btn-dark btn-sm mb-0 d-block" id="index_add_photo_button">Add Photo</a>
</div>

{{#each photos}}
    <div class="mx-auto view-photo-div my-5">
    <h4 class="text-center photo-title">{{title}}</h4>
    <form method="post" action='/photos/{{_id}}?_method=PUT' class="not-displayed">
    <input type="hidden" name="_method" value="PUT">
        <div class="input-group mb-3">
        <input type="text" class="form-control photo-title-input" name="title" value="{{title}}" aria-describedby="basic-addon2" required >
        <div class="input-group-append">
            <button class="btn btn-submit btn-dark">
            Submit
            </button>
        </div>
        </div>
    </form>

        <div class="position-relative">
            <div class="padding-for-imgs" ></div>
            <div class="w-100">
                <div class="position-absolute w-100 position-0">
                    <div class="position-absolute w-100 position-0">
                        <img class="img-position position-0" src="{{imgLocation}}" /> 
                    </div>
                </div>
            </div>
        </div>
        <button onclick="startEditing('{{{id}}}')" class="btn btn-dark btn-block background-opacity mt-2 edit-button text-color">Edit Title</button>
        <form action="/photos/{{id}}?_method=DELETE" method="POST" class="form-zero-margin">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-submit btn-danger btn-block mt-2">
                Delete
            </button>    
        </form>
    </div>
    
{{else}}
    <div class="mx-auto text-center" >
        <h3 class="text-center mt-5">There is no photos yet</h3>
        <a href="/photos/add" class="btn btn-dark btn-lg mb-0 mt-4">Add Photo</a>
    </div>
{{/each}}

<!--Use handlabar helper to get object - photos-->
<script>
    window.unitList = {{json photos}};
</script>
<script type="text/javascript" src="/event-handlers.js/change-photo-title.js"></script>