    <div class="text-center add-another-post" >
        <a href="/posts/add" class="btn btn-dark btn-lg mb-0 mt-4">let's have another one</a>
    </div>

{{#each posts}}
    <div class="card card-body mx-auto view-photo-div my-5">
        <h4 class="text-center ">{{title}}</h4>
        <div class="card card-body mb-3 p-3">
            <p class="paragraph-indent p-0 m-0">{{details}}</p>
        </div> 
        <a href="/posts/edit/{{id}}" class="btn btn-dark btn-block background-opacity">Edit</a>
        <form action="/posts/{{id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-submit btn-danger btn-block mt-2">
                Delete
            </button>    
        </form>
    </div>
    
{{else}}
    <div class="mx-auto text-center" >
        <h3 class="text-center mt-5">No posts yet, mate</h3>
        <a href="/posts/add" class="btn btn-dark btn-lg mb-0 mt-4">Add Post</a>
    </div>
{{/each}}